- semantic_form_for @project, :html => {:multipart => true} do |f|
  = f.error_messages
  - f.inputs do
    = f.input :name, :hint => "What is this project called?"
    = textile_editor_input f, :summary, :simple => true, :required => true, :label => "Brief Summary", :hint => "Describe your project in one paragraph."
    = f.input :new_file, :as => :file, :label => "Add an Image", :hint => "Image files will be automatically cropped and resized"
    - if @project && !@project.photos.reject(&:new_record?  ).empty?
      %li.file-field
        %label Existing images
        .input
          = render :partial => 'photo_thumbnails', :locals => {:edit => true}
    = textile_editor_input f, :goals, :simple => true, :label => "Vision and Goals", :hint => "What was the project trying to achieve since it started? What problem is it trying to solve?", :class => 'long'
    = textile_editor_input f, :outcomes, :simple => true, :hint => "What has the project achieved, how has it helped making a community more resilient?", :class => 'long'
    = textile_editor_input f, :future_plans, :simple => true, :hint => "Any new things on the horizon for the project.", :class => 'long'
    = f.input :location, :hint => "Use a valid new zealand street address if possible."
    = f.input :region, :as => :select, :collection => Region.all
    = f.input :category, :as => :select, :collection => Category.all
    = f.input :tag_list, :hint => "Separate tags with commas"
    = f.input :contact_name
    = f.input :contact_email_address
    = f.input :contact_phone
    = f.input :website, :hint => "Website address for your project, if it has one"
    = f.actions
    = textile_editor_initialize.html_safe
