= filters_javascript
#home_page
  #search
    .contents
      .inner_contents
        .search_section
          %h3.section_title Choose Categories
          #categories.search_body.categories
            = category_filters
        
        .search_section
          / = link_to image_tag('layout/a-wealth.jpg', :class => 'feature_image'), new_project_path
          %h3.section_title Choose NZ Region
          #regions.search_body.region_selector
            = region_filters
            
        .search_section.last
          %h3.section_title Choose Keywords
          #tags.search_body.tag_cloud
            = tag_filters

  #body_with_navigation
    #navigation
      .contents
        .inner_contents
          %p
            %strong Kiwis aren't just talking
            about a better world, we're building it. This website lists
            projects all around New Zealand / Aotearoa that are already building resilience in local
            communities.
            
          %p
            Do you know of a local success story that you would like to showcase here? 
            = link_to "Click here to add your project.", new_project_path

          #sharethis
            %script{:type=>"text/javascript", :src => "http://w.sharethis.com/button/sharethis.js#publisher=b7016318-36a1-4e61-bfa8-53b877bbf3d7&amp;type=website&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine"} 

    #body
      .contents
        .inner_contents
          %h3.section_title Latest Success Stories
          #project_notices
          = render :partial => 'list'
