.project
  %h3= @project.name
  
  - project_display_fields.each do |key|
    = project_field key

  .actions
    = link_to 'Edit', edit_project_path(@project)
    = link_to 'Add Photo', new_project_photo_path(@project)
    = link_to 'Back to index', projects_path