.project
  %h3= @project.name
  
  - project_display_fields.each do |key|
    - if key == 'tags'
      = project_field_with_value key, @project.tags.join(', ')
    - else
      = project_field key
    
  .photos
    - @project.photos.each do |photo|
      = image_tag photo.file.url

  .actions
    = link_to 'Edit', edit_project_path(@project)
    = link_to 'Add Photo', new_project_photo_path(@project)
    = link_to 'Back to index', projects_path