%h1 Login

- semantic_form_for @user_session, :url => user_sessions_path do |f|
  - f.inputs do
    = f.error_messages
    = f.input :email
    = f.input :password
    = f.input :remember_me, :as => :boolean
  = f.submit "Login"
