!!!strict
%html
  %head
    %title Kiwis Can Do
    = stylesheet_link_tag :all
    = javascript_include_tag :default, :all
  %body
    #page_body
      #header
        #top_menu
          = site_section_link :about, "About", '#'
          = site_section_link :contact, "Contact", '#'
        #hero
          %h1 The great kiwi solutions finder
      #contents
        = yield
      #footer
        &nbsp;