!!!strict
%html
  %head
    %title Kiwis Can Do
    = stylesheet_link_tag :all
    = javascript_include_tag :default, :all
  %body
    #page_body
      #header
        #top_menu
          .tabs
            = site_section_link :about, "About", '#'
            = site_section_link :contact, "Contact", '#'
          .account_section
            - if logged_in?
              = "Welcome #{current_user.name},"
              = link_to "logout", logout_path, :method => :delete
            - else
              = link_to "login", login_path
        #hero
          %h1 The great kiwi solutions finder
      #contents{:class => "#{controller_name}_#{action_name}" }
        .main_contents
          .main_inner_contents
            = yield
      #footer
        &nbsp;