!!!strict
%html
  %head
    %title Kiwis Can Do
    = stylesheet_link_tag :all
    = javascript_include_tag :default, :all
    = active_scaffold_includes
  %body
    #page_body
      #header
        = render :partial => 'layouts/header'
        #hero
          %h1 The great kiwi solutions finder
      = flash_div      
      #contents{:class => "#{controller_name}_#{action_name}" }
        .main_contents
          .main_inner_contents
            = yield
      #footer
        &nbsp;